* {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior: none;
  background: #000;
  color: #fff;
  font-family: sans-serif;
}

#game {
  position: absolute;
  inset: 0;
  display: grid;
  grid: "grid" 1fr "hud" auto / 1fr;
}

#grid {
  grid-area: grid;
  position: relative;
}

#grid canvas {
  display: block;
  position: absolute;
  inset: 0;
}

#hud {
  grid-area: hud;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

#mode {
  display: flex;
  font-size: 1.5rem;
}
#mode input {
  appearance: none;
  display: none;
}
#mode label {
  cursor: pointer;
  aspect-ratio: 1/1;
  background: #ccc;
  border: 2px solid;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  text-align: center;
  border-color: #eee #888 #888 #eee;
}
#mode label:has(input:checked) {
  background: #aaa;
  border-color: transparent;
  border-color: #888 #eee #eee #888;
}
